* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto 1fr auto 1fr;
}

header {
    background: #35424a;
    color: #ffffff;
    grid-column: 1 / 5;
    grid-row: 1 / 2;

}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color:cadetblue;

}
nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 5px 0;
    margin: 5px 0;
}


aside {
    background-color: aliceblue;
    padding: 0;
    grid-column: 4 / 5;
    align-content: center;
}

main {
    padding: 0;
    grid-column: 1 / 5;
    background-color: beige;
    display: inherit;
    grid-row: 2 / 7;
    text-align: center;
    
}
footer {
    background-color: #35424a;
    color: whitesmoke;
    grid-column: 1 / 5;
    grid-row: 7 / 9;
    align-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}